* {
}

body {
    
    
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Courier New', Courier, monospace;
}

.back_img1 {
    width: 40em;
    height: 40em;
    z-index: -100;
    opacity: 10%;
    position: absolute;
    padding: 0px 0 60px 0;
    margin: 59px 24px 76px -262px;
}

.back_img2 {
    width: 300px;
    height: 300px;
    z-index: -100;
    position: absolute;
    opacity: 10%;
    padding: 0px 0 0 0;
    margin: 0 0 0 14em;
}

@media only screen and (max-width: 600px) {
    body {
        width: auto;
        padding-left: 10%;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

.highligth {
    color: orangered;
}

.nav_bar {
    display: flex;
    justify-content: space-around;
    
    height: 53px;
    width: 100%;
    color: #1f1c1c;
}

@media only screen and (max-width: 600px) {
    .nav_bar {
        width: auto;
    }
}

.nav_bar .left_logo {
    display: flex;
}

.nav_bar .left_logo img {
    width: 60px;
    height: auto;
}

.nav_bar .left_logo p {
    color: orangered;
    font-size: larger;

}

.nav_bar ul {
    list-style: none;
    display: flex;
    margin: 10px;
    word-spacing: 2px;
}

.nav_bar li {
    margin-right: 20px;
    color: inherit;
    text-decoration: none;

}

.nav_bar .right_nav_button {
    margin: 0;
    padding: 0px;
}

.nav_bar .right_nav_button button {
    width: 100px;
    height: 44px;
    background-color: transparent;
    color: #000000;
    transition: transtion 0.3s ease-in;
}

.right_nav_button:hover button {
    transform: scale(1.01);
}

.left_para {
    display: flex;
    margin-top: 100px;
    padding: 0 10% 25px 10%;
    justify-content: space-evenly;
    align-items: center;
    color: #1f1c1c;
}

@media only screen and (max-width: 600px) {
    .left_para {
        justify-content: center;

    }
}

.left_para_content {
    width: fit-content;

    h1 {
        font-size: 40px;
    }
}

.left_para .left_para_content .left_para_button {
    display: flex;
    font-size: small;
    width: fit-content;
    justify-content: center;
    padding-bottom: 20px;
    word-spacing: 2px;

}

.left_para .left_para_content .left_para_button button {
    width: 100px;
    background-color: transparent;
    color: #1f1c1c;
    transition: transtion 0.3s ease-in;

}

.left_para_button:hover button {
    transform: scale(1.01);
}

.text {
    background-color: #1f1c1c;
    width: 150px;
    justify-content: center;
}

.left_para_button h4 {
    color: #ffffff;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 20px;
}

.left_para .right_side_main_photo {
    margin-bottom: 30px;
    padding-right: 0;
    justify-content: center;
    rotate: -2deg;
}

@media only screen and (max-width: 600px) {
    .myimg {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .backdecpic {
        display: none;
    }
}

.right_side_main_photo img {
    background: none;
    width: fit-content;
    height: 500px;

}

#backdec1 {
    position: absolute;
    z-index: -1;
    margin-left:0;
    padding: 0%;
    width: 100%;
}

.main_bar {
    background-color: #1f1c1c;
    rotate: -2.5deg;
    margin-top: -54px;
    overflow: hidden;
    color: #ffffff;
    font-size: x-large;
    white-space: nowrap;
    letter-spacing: 4px;
    width: 100%;


}

@media only screen and (max-width: 600px) {
    .main_bar {
        rotate: 0deg;
        margin-top: 10px;
        font-size: small;

    }
}

.sec_para {
    display: flex;
    margin: 11%;
}

@media only screen and (max-width: 600px) {
    .sec_para {
        display: flex;
        flex-direction: column;
        margin-left: 100px;
        margin-bottom: 9em;
        color: #1f1c1c;
    }
}

.sec_para .second_phase_left_para {

    padding: 10px;
    font-size: 20px;
    width: 100%;
    color: #1f1c1c;
}

.second_phase_right_para {
    height: 249px;
    padding-top: 30px;
    margin-bottom: 0;
    font-style: bold;
    color: #1f1c1c;
}

.second_phase_right_para p1 {
    font-size: 27px;
    color: #1f1c1c;
}

.second_phase_right_para p2 {
    font-size: 19px;
    color: #1f1c1c;
}

.sec_para .second_phase_right_para .inner_info {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    color: #1f1c1c;

}

#bron_in p {
    color: orangered;
    font-size: 12px;
    padding: 0;
    margin-top: 20px;
}

#bron_in h2 {
    font-style: bold;
    font-size: 20px;
    padding: 0;
    margin: 0;
    color: #1f1c1c;
}

#exp p {
    color: orangered;
    font-size: 12px;
    padding: 0;
    margin-top: 20px;
}

#exp h2 {
    font-style: bold;
    font-size: 20px;
    padding: 0;
    margin: 0;
    color: #1f1c1c;
}

#dob p {
    color: orangered;
    font-size: 12px;
    padding: 0;
    margin-top: 20px;
}

#dob h2 {
    font-style: bold;
    font-size: 20px;
    padding: 0;
    margin: 0;
    color: #1f1c1c;
}

.bar2 {
    display: flex;
    margin-left: 160px;
    margin-right: 150px;
    padding: 0px;
    justify-content: center;
}

.Years_of_exp {
    width: 315px;
    height: 100px;
    justify-content: center;
    border: 2px solid #1f1c1c;
    margin: 0%;
}

.Years_of_exp h1 {
    text-align: center;
    margin: 0%;
    padding-top: 16px;
    font-size: 40px;
    color: #1f1c1c;
}

.Years_of_exp h2 {
    text-align: center;
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #1f1c1c;
}

.project_complete {
    width: 315px;
    height: 100px;
    justify-content: center;
    border: 2px solid #1f1c1c;
    margin: 0%;
    background-color: #1f1c1c;
}

.project_complete h1 {
    text-align: center;
    margin: 0%;
    padding-top: 16px;
    font-size: 40px;
    color: #ffffff;
}

.project_complete h2 {
    text-align: center;
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #ffffff;
}


.happy_clients {
    width: 315px;
    height: 100px;
    padding-top: 0%;
    justify-content: center;
    border: 2px solid #1f1c1c;
    margin: 0%;
}

.happy_clients h1 {
    text-align: center;
    margin: 0%;
    padding-top: 16px;
    font-size: 40px;
    color: #1f1c1c;
}

.happy_clients h2 {
    text-align: center;
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #1f1c1c;
}

.third_p_heading .logo2 {
    width: 70px;
    height: 60px;

}

.third_p_heading {

    margin: 50px auto;
    text-align: center;
    color: #1f1c1c;

}

.third_p_heading h4 {
    overflow: hidden;
    white-space: nowrap;
    color: #1f1c1c;
}

.list_of_awards ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list_of_awards li {
    border: 2px solid;
    width: 70%;
    height: 92px;
    margin-bottom: 3%;
    display: block;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
}

.list_of_awards li h4 {
    font-size: 25px;
    margin: 0 0 0 70px;
    text-align: left;
    width: fit-content;
}

.list_of_awards h2 {
    font-size: 18px;
    margin: 0 0 0 70px;
    text-align: left;
    width: fit-content;
}

#list_2 {
    background-color: #1f1c1c;
    color: #ffffff;

}

.list_of_awards h5 {
    font-size: 10px;
    text-align: center;
    margin: -37px 0px 0px 570px;
    width: fit-content;
}

.list_of_awards h1 {
    background-color: #1f1c1c;
    color: #ffffff;
    margin: 28px 0px -42px 20px;
    width: 30px;
    text-align: center;
}

.list_of_awards li:hover {
    background-color: #1f1c1c;
    color: #ffffff;
}

.fourth_phase {

    justify-content: center;
    align-items: center;
    padding-left: 10em;
    padding-right: 10em;
}

.fourth_p_heading {
    margin: 50px auto;
    text-align: center;
}

.logo2 {
    width: 70px;
    height: 60px;
}

.portfolio_sec {
    justify-content: center;
    display: flex;

    .portfolio_sec_text {
        margin-top: 50px;
        margin-bottom: 50px;

    }

    h2 {
        background-color: orangered;
        width: 10em;
        color: #ffffff;
        text-align: center;
        padding: 1%;
    }

    h1 {
        margin: 0;
        color: #1f1c1c;
    }

    a {

        width: 10em;
        text-decoration: underline;
        color: #1f1c1c;
        text-align: center;
        padding: 1%;
    }

    img {
        padding-right: 32px;
        margin-top: 65px;
        width: 250px;
        height: 199px;


    }

}

.fivth_phase {

    justify-content: center;
    align-items: center;

    margin-right: 50px;
}

.fivth_p_heading {

    text-align: center;
    color: #1f1c1c;

}

.logo2 {
    width: 70px;
    height: 60px;

}

.service{
    display: flex;
    justify-content: center;
}
.slist_part1 {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
    li:hover {
        background-color: #1f1c1c;
        color: #ffffff;
    }

    li {
        width: 100%;
        border: 2px solid #1f1c1c;
        flex: 1 1 40%;
        
        margin: 25px 40px 25px 40px;
        h1 {
            margin-top: 15%;
            margin-left: 5%;
        }

        p {
            margin-left: 5%;
        }

    }
}





.sixth_p_heading {
    margin: 50px auto;
    text-align: center;
    color: #1f1c1c;

}

.logo2 {
    width: 70px;
    height: 60px;

}

.customer {
    ul {
        display: flex;

        list-style: none;
        justify-content: space-evenly;


    }

    .customer_list {
        .clist_part1 {
            text-shadow: 2px 2px 4px orangered;
            transform: scaleX(1);







            :hover {
                background-color: #1f1c1c;
                color: #ffffff;
                filter: blur(0px);
                background-image: none;
            }

            transition: background-color 0.3s,
            color 0.3s;
        }

        li {
            filter: blur(2px);
            background-image: url('res/html.png');
            border: 2px solid #1f1c1c;
            width: 400px;
            height: 180px;
            margin-bottom: 50px;
            text-align: center;

            p {

                margin-top: 20%;
                margin-bottom: 0%;

                letter-spacing: 10px;
            }



        }

    }
}

.logo2 {
    width: 70px;
    height: 60px;

}

.seventh_p_heading {

    margin: 50px auto;
    text-align: center;
    color: #1f1c1c;

}

.seventh_p_heading h4 {
    overflow: hidden;
    white-space: nowrap;
    color: #1f1c1c;
}

.artical ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    :hover {
        background-color: #1f1c1c;
        color: #ffffff;
    }

    li {
        border: 2px solid;
        width: 59em;
        height: 200px;
        margin-bottom: 3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s, color 0.3s;

    }

    h1 {
        padding: 0 0 0 0;
        width: fit-content;
        left: auto;

        color: orangered;

    }

    h3 {
        padding: 0 0 0 0;
        width: fit-content;
        left: auto;
    }

    button {
        border: 2px solid;
        width: 71em;
        height: 50px;
        margin-bottom: 3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #1f1c1c;
        color: #ffffff;
    }
}

.address {

    width: 100%;
    
    display: flex;
    background-color: rgb(183, 180, 177);
    border: 1px solid rgb(rgb(228, 216, 216), rgb(169, 182, 169), rgb(176, 176, 191));
    text-align: center;

    h1 {
        font-size: 25px;
        text-align: left;
        margin: 20px 139px 0 148px;
        padding: 5px 15px 6px 6px;
    }

    .email {
        display: flex;
        text-align: center;
        margin: 1px 0 0px 35px;
        padding: 2px 9px 3px 0;

    }

    input {
        margin: 18px 0 0 0;
        height: 2em;
        font-size: small;
        border: 2px solid black;
        width: 25em;
    }


}

#but2 {
    width: 100px;
    height: 34px;
    margin: 19px 7px 8px 0px;
    padding: 0 0 0 0;
}

footer {
    background-color: #2d2828;
    width: 100%;
    height: 18em;
    padding: 0 0 0 0;
    color: #ffffff;
    

    img {
        width: 50px;
        height: 50px;
    }
}